body {
  padding-top: 200px;
  display: flex;
}

slider {
  margin: auto;
  width: 200px;
  text-align: center;
  display: block;
}

ul {
  padding: 0;
  margin: 0;
  width: 200px;
  height: 200px;
  position: relative;
}

li {
  position: absolute;
  list-style: none;
  inset: 0;
  transition: 0.5s linear;
}

li.left {
  opacity: 0;
  rotate: 80deg;
  transform-origin: 150px -200px;
}
li.right {
  opacity: 0;
  rotate: -80deg;
  transform-origin: 50px -200px;
}

img {
  width: 200px;
  height: 200px;
}
